.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

.recipe-card {
  border: 1px solid #ddd;
  padding: 16px;
  border-radius: 12px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  background: white;
  text-align: center;
}

.recipe-detail {
  border: 1px solid #ddd;
  padding: 40px;
  border-radius: 0px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  background: white;
  text-align: center;
}

.recipe-detail-img {
  width: 100;
  height: 100;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 12px;
  float: left;
  margin-right: 15px;
}

.recipe-card:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.card-img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 12px;
}

.boton {
  background: rgb(66, 107, 255);
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}

body {
  background-color: #ffc9c7;
  margin: 0;
  padding: 0;
}
