  <div class="recipe-card">

    <h1 class="title">{{ recipe.nombre }}</h1>

    <div class="recipe-content">
      <img class="recipe-image" [src]="recipe.imagen" alt="Imagen receta">

      <div class="recipe-info">

        <div class="grid">
          <p><strong>Porciones:</strong> {{ recipe.porciones }}</p>
          <p><strong>Tiempo:</strong> {{ recipe.tiempo_minutos }} min</p>
          <p><strong>Dificultad:</strong> {{ recipe.dificultad }}</p>
          <p><strong>Tipo:</strong> {{ recipe.tipo }}</p>
        </div>

        <h2>Ingredientes</h2>
        <ul>
          @for(ing of recipe.ingredientes; track ing){
            <li>{{ ing.nombre }}</li>
          }
        </ul>

        <h2>Pasos</h2>
        <ol>
          @for(step of recipe.pasos; track step){
            <li>{{ step }}</li>
          }
        </ol>

      </div>
    </div>

    <a routerLink="/recipe">
      <button class="btn">Regresar</button>
    </a>

  </div>
